# --- System ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# --- Virtual Environment ---
venv/
env/
.env

# --- Model & Data ---
checkpoints/*.pt
checkpoints/*.pth
image/*.png
image/*.jpg
image/*.tif

imgs/*.png
imgs/*.jpg
imgs/*.tif

!checkpoints/.gitkeep
!image/.gitkeep

temp_auto_crawl.png
*.log

.vscode/
.idea/
